body {
  height: 100%;
}
#titleAndInstructions {
  height: 100px;
  width: 90%;
  margin: auto;
  background-color: black;
  color: white;
  font-family: Arial;
}
#title {
  font-size: 200%;
  padding-left: 30px;
  padding-top: 10px;
}
#instructions {
  color: white;
  padding-left: 30px;
}
#lizardCampsLogo {
  float: right;
  height: 100%;
  width: 25%;
}
#formDiv {
  font-family: Arial;
  margin: auto;
  width: 50%;
  height: 80%;
  margin-top: 50px;
}
input[type="text"] {
  width: 100%;
  margin: 10px 0;
  box-sizing: border-box;
  padding: 15px 20px;
  font-size: 80%;
  color: white;
  border: 0px;
  background-color: #279BC0;
}
#dia,
#mes,
#ano {
  margin-left: 7px;
  margin-right: 7px;
  margin-top: 23px;
  margin-bottom: 17px;
  font-size: 80%;
  width: 19%;
  background-color: #279BC0;
  color: white;
  border: 0px;
  padding: 11px 20px;
}
#numeroDeIntegrantes {
  width: 100%;
  font-size: 80%;
  margin-top: 12.5px;
  background-color: #279BC0;
  color: white;
  border: 0px;
  padding-top: 10px;
  padding-bottom: 10px;
  box-sizing: border-box;
}
#actividad {
  width: 100%;
  font-size: 80%;
  margin-top: 12.5px;
  background-color: #279BC0;
  color: white;
  border: 0px;
  padding-top: 10px;
  padding-bottom: 10px;
  box-sizing: border-box;
}
#boton {
  width: 15%;
  margin: 20px 0px;
  padding: 10px 0px;
  text-align: center;
  background-color: #05FFA1;
  color: white;
  border: 0px;
  font-size: 90%;
}
#buttonHolder {
  text-align: center;
}
#imagen {
  margin-bottom: 0px;
  height: 30%;
}
#imagenPlaya {
  height: 100%;
  width: 100%;
}
